<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width"> /*responsible*/
        <title>Bosques en Peligr</title>
        <link rel="stylesheet" href="app.component.css">
        <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <header>
        <div class="caja">
            <h2><img src="src/assets/img/logo.png" alt="Logo del apliativo" class="logo"></h2>
            <nav>
                <ul>
                    <li><a href="index.html">Sobre nosotros</a></li>
                    <li><a href="productos.html">Datos</a></li>
                    <li><a href="contacto.html">Historias</a></li>
                    <li><a href="contacto.html">Post</a></li>
                    <li><a href="contacto.html">Recursos</a></li>
                    <li><img src="src/assets/img/usuario.png"></li>
                    <li><img src="src/assets/img/lupa.png"></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <h2>Concientización y Comprensión</h2>
            <p>Les proporcionamos a los usuarios herramientas efectivas para concientizar y comprender la magnitud y las causas de la deforestación, así como para identificar áreas prioritarias y tomar medidas efectivas para la conservación y la restauración de los bosques.
            </p>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/z4XzCA75JLs?si=iDM8_eNEzg0CO87l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>
        <h1>ACTUALIZACIONES</h1>
        <section>
            <h2>Prioridades de Conservación</h2>
            <p>Identificamos las prioridades para la conservación y restauración de los bosques.</p>
            <img src="src/assets/img/img1.png" alt="tema 1" class="img1">
        </section>
        <section>
            <h2>Datos Relevantes</h2>
            <p>Aquí encontrarás datos relevantes sobre la deforestación en la región.</p>
            <img src="src/assets/img/img2.png" alt="tema 2" class="img2">
        </section>
        <section>
            <h2>Opiniones y Comentarios</h2>
            <p>Aquí puedes leer opiniones y comentarios sobre la deforestación de los habitantes de la región.</p>
            <img src="src/assets/img/img3.png" alt="tema 3" class="img3">
        </section>
        <section>
            <h2>Investigaciones e Informes</h2>
            <p>Explora investigaciones e informes de expertos sobre deforestación.</p>
            <img src="src/assets/img/img4.png" alt="tema 4" class="img4">
        </section>
    </main>
    <footer>
        <img src="src/assets/img/logo.png">
        <p>© 2024 Bosques en Peligro</p>
    </footer>
</body>
</html>